body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: auto;
}

.top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 150px 100px 200px;
}

.header {
    color: #f9faf8;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}

.logo {
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
}

.herocon {
max-width: 40%;
align-self: flex-end;
padding-right: 56px;
}

.hero-text {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.hero-subtext,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

button {
max-width: 128px;
background-color: #3882f6;
border-radius: 8px;
padding: 8px 32px;
color: #f9faf8;
font-weight: bold;
margin: 12px 0px;
font-size: medium;
border: none;
}

.links{
    display: flex;
    flex-direction: row;
    padding-right: 12px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    
}

li {
    list-style-type: none;
}


.second-container{

}

.info {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.third-container {
background-color: #e5e7eb;
}

.fourth-container {
    background-color: #3882f6;
}

.footer {
background-color: #1f2937;
}

.quote{
font-style: italic;
font-size: 36px;
color: #1f2937;
}

img {
    align-self: flex-end;
    max-width: 520px;
}